/* @import '../../vendor/filament/filament/resources/css/theme.css'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

.range-slider.noUi-target {
    @apply  rounded-lg shadow-sm ring-1 transition duration-75 bg-white focus-within:ring-2 dark:bg-white/5 ring-gray-950/10 focus-within:ring-primary-600 dark:ring-white/20 dark:focus-within:ring-primary-500;
}


.noUi-connect {
    --c-400: var(--primary-400);
    --c-500: var(--primary-500);
    --c-600: var(--primary-600);

    

    @apply hover:bg-custom-500 dark:bg-custom-500 dark:hover:bg-custom-400 focus:ring-custom-500/50 dark:focus:ring-custom-400/50;
}

.filament-input-group .grid {
    gap: 0;
}

.filament-input-group>.fi-fo-component-ctn {
    --cols-default: repeat(3, minmax(0, 1fr)) !important;
}

.filament-input-group>div>div:first-child .grid>div {

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.filament-input-group>div>div:not(:first-child):not(:last-child) .grid>div {
    border-radius: 0 !important;
    border-left: none;
}

.filament-input-group>div>div:last-child .grid>div {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}